.button{
    -fx-background-color: #3F2B63;
}
.button:hover{
    -fx-background-color: #2A1C42;
}
.button:pressed{
    -fx-background-color: #7156DD;
}
.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-cell-size: 20;
    -fx-background-color: #2D75E8;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
}